{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
    <body>
        <div class="container p-5 my-5 border text-center">
            <h1>Mental Drill</h1>
        <table class="table table-striped-columns">
        <tr> <td>
                This is the header
                <form method="POST" action="startgame.html">
                    {% csrf_token %}
                    <select name="level" id="level">
                        {% for option in level %}
                        {% if option == chosen_level %}
                        <option value="{{option}}" selected>{{option}}</option>
                        {%else%}
                        <option value="{{option}}">{{option}}</option>
                        {%endif%}
                        {%endfor%}
                      </select>
                    <input type="text" name="time_limit" placeholder="time limit">
                    <input type="text" name="num2" placeholder="enter second number">
                    <select name="operator" id="operator">
                        {% for option in operator %}
                        {% if option == chosen_operator %}
                        <option value="{{option}}" selected>{{option}}</option>
                        {%else%}
                        <option value="{{option}}">{{option}}</option>
                        {%endif%}
                        {%endfor%}
                      </select>
                    <button type="submit", name="start_btn"> Start</button>
                </form>
            </td>
        </tr>
        <tr style="height:200px"> <td> This is leftside </td>
            <td>
            This is body
            <div class="container p-5 my-5 border text-center">
            
            {% block body %} this is main body {% endblock body %}

            {% block footer %} {% endblock footer %}
            </div>
            </td>
            <td> This is rightside 

            </td>
        </tr>
        <tr> <td>>This is the footer </td</tr>
        </table>
        </div>
    </body>

</html>