{% extends 'mentaldrill/index.html' %}
{% load static %}
{% block body %}

The body
<h1> {{num1}} </h1>
    {% if chosen_operator == 'addition'%}
    <h1> + </h1>
    {% else %}
    <h1> - </h1>
    {% endif %}
   <h1>{{num2}}</h1>
<h1 id="answer" name="{{answer}}"></h1>

<div style align="center">
<form type="POST" action="index.html">

</form>
{% for item in choice %}
<button class="ans_btn" id="choice{{item}}"> {{item}}</button>
{% endfor %}
</div>
<script src="{% static 'counter.js' %}"> </script>
{% endblock body%} 
