{% include "codingnotes/base_template.html" %}

{% block body %}
<div>
    <form action="#"  method="post">

          <input type="text" placeholder="Enter search " name="search_titles">
          <button class="button" type="submit">Search</button>

    </form>
</div>
<div>
    All Tags
    {% for items in tags %}
    {{items.all_tags}}
    {%endfor%}
</div>

<div>
    <ul>
        {% for items in notes %}
        <li> 
            Title: {{ items.title }}<br/>
            tags: {{items.tags}}<br/>
            {{ items.body }}
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %} 

