{% extends "codingnotes/base_template.html" %}

{% block body %}
<div>
    <!-- url 'codingnotes:search_results' -->
    <form action="search_results.html"  method="post">
        {% csrf_token %}
        <input type="text" name="search_text" class="form-control form-control-lg" placeholder="enter search">
        <button class="button" type="submit">Search</button>
    </form>
    <a href="createpost.html"><button type="button" class="btn btn-outline-success">Create New Post</button></a>

</div>
<div>
    {%block mainbody%} {%endblock mainbody%}
</div>
<div class="container d-flex justify-content-center">
    <ul class="list-group list-group-horizontal">
    {% for items in tags %}
    <li class="list-group-item"> {{items.all_tags}} </li>
    
    
    {%endfor%}
    </ul>
</div>
<div>  </div>

<div class="container d-flex justify-content-center">
    <ul class="list-group">

        {% include "codingnotes/search_results.html" %}

    </ul>
</div>

{% endblock %} 



