{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
    <body>
        <div class="container p-5 my-5 border text-center">

            <div class="container p-5 my-5 border text-center">
            
                <h1> Phonics Reading </h1>
                <div>
                    <form id="submit_selections" method="POST" action="body.html">
                        {% csrf_token %}
                        <select name="level" id="level">
                            {% for option in level %}
                            {% if option == chosen_level %}
                            <option value="{{option}}" selected>{{option}}</option>
                            {%else%}
                            <option value="{{option}}">{{option}}</option>
                            {%endif%}
                            {%endfor%}
                          </select>
                          
                        <input type="text" name="time_limit" placeholder="time limit">

                        <select name="num_of_letter" id="num_of_letter">
                            {% for option in num_of_letter %}
                            {% if option == num_of_letter %}
                            <option value="{{option}}" selected>{{option}}</option>
                            {%else%}
                            <option value="{{option}}">{{option}}</option>
                            {%endif%}
                            {%endfor%}
                          </select>
                        <button type="submit", name="start_btn"> Start</button>
                        <h3>Number of tries:  {{counter}} </h3>
                        <div> <h1> Score: </h1><input type="text" name="score" id="score" style="height:80px;font-size:30pt;width:60px"  value="{{score}}" > </div>
                    </form>
                </div>

                <button onclick="speak();">Speak</button>
                <script>
                function speak() {
                  speechSynthesis.speak(new SpeechSynthesisUtterance("{{question}}"));
                }
                speak();
                </script>

            {% block body %}

            {% endblock body %}
            
            {% block footer %}

            {% endblock footer %}
            </div>

        </div>
    </body>

</html>
